# Preparing Crime Data

Final project for DS1001

In [1]:
import pandas as pd
import numpy as np
pd.set_option('mode.chained_assignment', None)
import requests
import json

## Read in the crime report data

In [2]:
crimes2004_2018 = pd.read_csv("https://data.austintexas.gov/api/views/fdj4-gpfu/rows.csv?accessType=DOWNLOAD", dtype={'Census Tract': object})

/Users/brinaseidel/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (16,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Rename the columns - columns_largeset below is the simplification of the column i.e. replacing spaces with underscores

In [3]:
print(crimes2004_2018.columns)
columns_largeset = ['inc_number', 'high_off_desc', 'high_off_code', 'fam_viol', 'date_time', 'date', 'time', 'report_date_time', 'report_date']
columns2_largeset = ['report_time', 'loc_t ype', 'address', 'zip_code', 'council_district', 'apd_sector', 'apd_district', 'pra', 'cen_tract', 'clr_status', 'clr_date', 'ucr', 'cat_desc', 'x_coord', 'y_coord', 'latitude', 'longtitude', 'location']
columns_largeset += columns2_largeset
print(columns_largeset)
crimes2004_2018.columns = columns_largeset

Index(['Incident Number', 'Highest Offense Description',
       'Highest Offense Code', 'Family Violence', 'Occurred Date Time',
       'Occurred Date', 'Occurred Time', 'Report Date Time', 'Report Date',
       'Report Time', 'Location Type', 'Address', 'Zip Code',
       'Council District', 'APD Sector', 'APD District', 'PRA', 'Census Tract',
       'Clearance Status', 'Clearance Date', 'UCR Category',
       'Category Description', 'X-coordinate', 'Y-coordinate', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')
['inc_number', 'high_off_desc', 'high_off_code', 'fam_viol', 'date_time', 'date', 'time', 'report_date_time', 'report_date', 'report_time', 'loc_t ype', 'address', 'zip_code', 'council_district', 'apd_sector', 'apd_district', 'pra', 'cen_tract', 'clr_status', 'clr_date', 'ucr', 'cat_desc', 'x_coord', 'y_coord', 'latitude', 'longtitude', 'location']

We only have resistence data for 2009 to 2016, so we will keep only the corresponding years of crime data.

In [4]:
temp = list(crimes2004_2018['inc_number'].astype(str))
temp = [l[0:4] for l  in temp]
crimes2004_2018['year']= np.array(temp)
crimes2009_2016 = crimes2004_2018.loc[crimes2004_2018['year'].isin(['2009','2010', '2011', '2012', '2013', '2014', '2015', '2016'])]

In [5]:
print(crimes2009_2016.shape)
crimes2009_2016.head()

(1049923, 28)

,inc_number,high_off_desc,high_off_code,fam_viol,date_time,date,time,report_date_time,report_date,report_time,...,clr_status,clr_date,ucr,cat_desc,x_coord,y_coord,latitude,longtitude,location,year
0,20145043640,VIOL OF PROTECTIVE ORDER,3009,N,10/01/2014 08:19:00 PM,10/01/2014,2019.0,10/01/2014 08:19:00 PM,10/01/2014,2019.0,...,N,10/15/2014,NaN,NaN,3130355.0,3130355.0,30.315506,-97.690678,"(30.31550566, -97.69067834)",2014
1,20115047788,RUNAWAY CHILD,4100,N,10/11/2011 06:00:00 AM,10/11/2011,600.0,10/11/2011 10:49:00 AM,10/11/2011,1049.0,...,N,10/12/2011,NaN,NaN,3137779.0,3137779.0,30.319818,-97.667024,"(30.31981803, -97.66702419)",2011
3,20112011254,VIOL CITY ORDINANCE - OTHER,3299,N,07/20/2011 05:05:00 PM,07/20/2011,1705.0,07/20/2011 05:05:00 PM,07/20/2011,1705.0,...,C,09/03/2011,NaN,NaN,3106719.0,3106719.0,30.266295,-97.766915,"(30.26629453, -97.76691542)",2011
6,20145045267,BURGLARY OF VEHICLE,601,N,10/11/2014 05:00:00 PM,10/11/2014,1700.0,10/12/2014 04:13:00 AM,10/12/2014,413.0,...,N,11/04/2014,23F,Theft,3115529.0,3115529.0,30.268006,-97.738955,"(30.26800598, -97.73895531)",2014
7,2013141039,AGG ROBBERY/DEADLY WEAPON,300,N,01/14/2013 03:16:00 PM,01/14/2013,1516.0,01/14/2013 03:16:00 PM,01/14/2013,1516.0,...,C,02/18/2013,120,Robbery,3125085.0,3125085.0,30.314675,-97.707407,"(30.31467502, -97.70740742)",2013

## Read in the resistance data

In [6]:
resistance_09 = pd.read_csv("https://data.austintexas.gov/api/views/sc8s-w4ka/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_10 = pd.read_csv("https://data.austintexas.gov/api/views/q5ym-htjz/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_11 = pd.read_csv("https://data.austintexas.gov/api/views/jipa-v8m5/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_12 = pd.read_csv("https://data.austintexas.gov/api/views/bx9w-y5sd/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_13 = pd.read_csv("https://data.austintexas.gov/api/views/qxx9-6iwk/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_14 = pd.read_csv("https://data.austintexas.gov/api/views/vv43-e55n/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_15 = pd.read_csv("https://data.austintexas.gov/api/views/iydp-s2cf/rows.csv?accessType=DOWNLOAD").astype(str)
resistance_16 = pd.read_csv("https://data.austintexas.gov/api/views/h8jq-pcz3/rows.csv?accessType=DOWNLOAD").astype(str)

Many of these datasets have different colnames - here, we standardize them so that we can combine them

In [7]:
columns_resistance = ['rin', 'prim_key', 'date', 'time', 'address', 'area_command', 'nature_of_contact', 'reason_desc', 'r2r_level', 'master_sub_id', 'sub_sex']
columns2_resistance = ['sub_race', 'sub_ethn', 'sub_cond_desc', 'sub_res', 'weapon_1', 'weapon_2', 'weapon_3', 'weapon_4', 'weapon_5', 'num_shots', 'sub_eff', 'eff_on_officer']
columns3_resistance = ['off_org_desc', 'off_comm_date', 'off_years_service', 'x_coord', 'y_coord', 'council_district']
columns_resistance += columns2_resistance + columns3_resistance
resistance_09.columns = columns_resistance
resistance_10.columns = columns_resistance
resistance_11.columns = columns_resistance
resistance_12.columns = columns_resistance
resistance_13.columns = columns_resistance
resistance_14.columns = columns_resistance
resistance_15.columns = columns_resistance
resistance_16.columns = columns_resistance

Combine the data for all years

In [8]:
resistances = [resistance_09,resistance_10,resistance_11,resistance_12, resistance_13,resistance_14,resistance_15, resistance_16]
resistance = pd.concat(resistances,sort=False)

In [9]:
print(resistance.shape)
resistance.head()

(23218, 29)

,rin,prim_key,date,time,address,area_command,nature_of_contact,reason_desc,r2r_level,master_sub_id,...,weapon_5,num_shots,sub_eff,eff_on_officer,off_org_desc,off_comm_date,off_years_service,x_coord,y_coord,council_district
0,19654,200910720,01/01/2009 12:00:00 AM,,200 W 4TH ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,305859998: 200910720,...,nan,nan,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 400 REG I PATROL,01/08/1993 12:00:00 AM,16,3113640,10070272,9.0
1,19656,200910883,01/01/2009 12:00:00 AM,0330,6309 BURNS ST,ID,DISPATCHED CALL,NECESSARY TO DEFEND REPORTING OFFICER,2.0,66128268: 200910883,...,nan,1.0,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,BAKER 700 REG I PATROL,04/27/2007 12:00:00 AM,2,3120652,10093724,4.0
2,19734,200910883,01/01/2009 12:00:00 AM,,6309 BURNS ST,ID,DISPATCHED CALL,NECESSARY TO EFFECT ARREST / DETENTION,1.0,66128268: 200910883,...,nan,0.0,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,BAKER 700 REG I PATROL,06/20/2008 12:00:00 AM,1,3120652,10093724,4.0
3,19735,200911936,01/01/2009 12:00:00 AM,1640,6710 ARROYO SECO,ID,DISPATCHED CALL,OTHER (DOCUMENT IN SUPPLEMENT),3.0,219233449: 200911936,...,nan,nan,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,BAKER 300 REG I PATROL,06/18/2004 12:00:00 AM,5,3117560,10097233,7.0
4,19736,200911936,01/01/2009 12:00:00 AM,1635,6710 ARROYO SECO,ID,DISPATCHED CALL,OTHER (DOCUMENT IN SUPPLEMENT),3.0,314316133: 200911936,...,nan,nan,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,BAKER 300 REG I PATROL,01/04/2008 12:00:00 AM,1,3117560,10097233,7.0

## Merge the resistance data with the crime data

In the resistance data, each primary key ("prim_key") represents an incident, and each record is a single officer's report of that incident. This means that there are often multiple records per primary key. In order to merge one-to-one, we want only one record per primary key.

First, we should determine which columns are at the report level and which are at the primary key level.

In [10]:
# Count the number of unique primary keys
n_prim_key = len(resistance["prim_key"].unique())

# For each other column in the resistence dataset, check if the number of unique records in terms of the primary key i
for col in resistance.columns[3:]:
    n_col = len(resistance.groupby(["prim_key", col]))
    if n_col != n_prim_key:
        diff = n_col-n_prim_key
        print(col, diff)

time 5626
nature_of_contact 828
reason_desc 2100
r2r_level 685
master_sub_id 1451
sub_sex 461
sub_race 406
sub_ethn 460
sub_cond_desc 1120
sub_res 2910
weapon_1 1989
weapon_2 729
weapon_3 110
weapon_4 9
weapon_5 1
num_shots 1814
sub_eff 2194
eff_on_officer 1722
off_org_desc 3419
off_comm_date 8258
off_years_service 7599

There are a few of these variables that we might want to use as dependent variables, so we will clean them so that there is one value per primary key as follows:
1. weapon_* --> a dummy marking whether any officer reported a weapon
2. r2r_level -->  most severe r2r level (lower numbers = more severe resistance) reported by any officer
3. number_of_shots --> dummy marking whether any officer reported a shot fired
4. sub_eff --> whether any officer reported that a subject complained of pain/injury
5. eff_on_officer --> whether any officer complained of pain/injury

In [11]:
# Clean weapon variables
resistance["weapon"] = 0
for col in ["weapon_1", "weapon_2", "weapon_3", "weapon_4", "weapon_5"]:
    resistance.loc[~resistance[col].isin(["WEAPONLESS (PRESSURE POINTS/KICKS/HAND)", "-", "nan"]), "weapon"] = 1 
    # Note: nan is usually used to mark weapons 2-5, I think we can safely assume that it means no weapon
# Show that we've correctly marked cases where any weapon was used
#resistance[["weapon_1", "weapon_2", "weapon_3", "weapon_4", "weapon_5", "weapon"]].head(20)
#resistance.weapon.value_counts()
# Mark the entire primary key as having a weapon used if any police officer reported it as such
resistance["any_weapon"] = resistance.groupby(['prim_key'])['weapon'].transform(max)

# Clean r2r level 
resistance['r2r_level'] = resistance['r2r_level'].astype(float)
resistance["max_r2r"] = resistance.groupby(['prim_key'])['r2r_level'].transform(min) # Note: lower numbers = more severe resistance

# Clean number of shots
resistance["shot"] = 0
resistance.loc[resistance["num_shots"]!="nan", "shot"] = 1
resistance["any_shot"] = resistance.groupby(['prim_key'])['shot'].transform(max)

# Clean subject complaint of pain/njury
resistance["sub_complaint"] = 0
resistance.loc[~resistance["sub_eff"].isin(["NO COMPLAINT OF INJURY/PAIN"]), "weapon"] = 1
resistance["any_sub_complaint"] = resistance.groupby(['prim_key'])['sub_complaint'].transform(max)

# Clean officer complaint of pain/njury
resistance["off_complaint"] = 0
resistance.loc[~resistance["eff_on_officer"].isin(["NO COMPLAINT OF INJURY/PAIN"]), "weapon"] = 1
resistance["any_off_complaint"] = resistance.groupby(['prim_key'])['off_complaint'].transform(max)

Keep only the columns of resistance that we want to use, and drop duplicates so that there is one observation per primary key instead of one obsercation per report

In [12]:
# Keep only necessary columns
resistance = resistance[["prim_key", "date", "address",
                         "any_weapon", "max_r2r", "any_shot", "any_sub_complaint", "any_off_complaint"]]

# Drop duplicates
resistance = resistance.drop_duplicates()

# Confirm data is now unique by primary key
print(len(resistance["prim_key"].unique()) == resistance.shape[0])

True

"prim_key" in the resistance data appears similar to "inc_number" in the crime data, but sometimes these have different numbers of characters. However, by looking closely at one year of data, we found that the addresses do tend to match exactly for cases that have similar "prim_key" and "inc_number" values that are slightly different lengths. 

We therefore take the first six characters of "inc_number" and "prim_key", and merge on these values PLUS the address.

In [13]:
crimes2009_2016["inc_number"] = crimes2009_2016["inc_number"].apply(str)
crimes2009_2016["prim_key_short"] = crimes2009_2016["inc_number"].str[0:7]
resistance["prim_key_short"] = resistance["prim_key"].str[0:7]
combined = pd.merge(crimes2009_2016, resistance, how="outer", on=["prim_key_short", "address"], indicator=True)
combined._merge.value_counts()

left_only     1036769
both            13413
right_only       1609
Name: _merge, dtype: int64

We expect there to be a lot of "left_only" cases in the crime data that are not in the resistance data - these are all the cases where there was a crime but no resistance. 

However, we should be concerned about "right_only" cases where there was resistence to a crime, but that crime was not recorded in the full dataset. There are about 1,603 of these cases (and 13,420 merged correctly)

Below, we look at some cases that didn't merge correctly and then drop them so that we can run the model

In [14]:
combined.loc[combined._merge == "right_only", ["prim_key", "date_y"]].head()

            prim_key                  date_y
1050182    200910463  01/01/2009 12:00:00 AM
1050183    200911145  01/01/2009 12:00:00 AM
1050184    200920816  01/02/2009 12:00:00 AM
1050185    200971637  01/07/2009 12:00:00 AM
1050186    200982170  01/08/2009 12:00:00 AM
1050187   2009190995  01/19/2009 12:00:00 AM
1050188   2009312306  01/31/2009 12:00:00 AM
1050189   2009372629  02/06/2009 12:00:00 AM
1050190   2009391534  02/08/2009 12:00:00 AM
1050191   2009390389  02/08/2009 12:00:00 AM
1050192   2009421662  02/11/2009 12:00:00 AM
1050193   2009452060  02/14/2009 12:00:00 AM
1050194   2009531645  02/22/2009 12:00:00 AM
1050195   2009561953  02/25/2009 12:00:00 AM
1050196   2009582841  02/27/2009 12:00:00 AM
1050197   2009592575  02/28/2009 12:00:00 AM
1050198   2009691364  03/10/2009 12:00:00 AM
1050199   2009702078  03/12/2009 12:00:00 AM
1050200   2009771906  03/18/2009 12:00:00 AM
1050201   2009820656  03/23/2009 12:00:00 AM
1050202   2009820767  03/23/2009 12:00:00 AM
1050203   2009872281  03/28/2009 12:00:00 AM
1050204   2009901534  03/31/2009 12:00:00 AM
1050205   2009900157  03/31/2009 12:00:00 AM
1050206   2009950825  04/05/2009 12:00:00 AM
1050207   2009971806  04/07/2009 12:00:00 AM
1050208   2009981186  04/08/2009 12:00:00 AM
1050209  20091002356  04/10/2009 12:00:00 AM
1050210  20091040232  04/14/2009 12:00:00 AM
1050211  20091111916  04/21/2009 12:00:00 AM
...              ...                     ...
1051761  20162550847              09/11/2016
1051762  20162740750              09/30/2016
1051763  20161811700              06/29/2016
1051764  20163431446              12/08/2016
1051765  20163201312              11/15/2016
1051766    201610642              01/01/2016
1051767   2016351376              02/04/2016
1051768   2016271568              01/27/2016
1051769   2016380420              02/07/2016
1051770   2016610635              03/01/2016
1051771   2016621810              03/02/2016
1051772  20161100124              04/19/2016
1051773  20161140621              04/23/2016
1051774  20161161717              04/25/2016
1051775  20161431723              05/22/2016
1051776  20161540371              06/02/2016
1051777  20162300722              08/17/2016
1051778  20162360045              08/23/2016
1051779  20162680219              09/24/2016
1051780  20162820329              10/08/2016
1051781  20162880773              10/14/2016
1051782  20163030595              10/29/2016
1051783  20163440043              12/09/2016
1051784  20161250001              05/04/2016
1051785  20161961222              07/14/2016
1051786  20162170221              08/04/2016
1051787  20163190105              11/14/2016
1051788  20161360492              05/15/2016
1051789  20162791102              10/05/2016
1051790  20163541112              12/19/2016

[1609 rows x 2 columns]

In [15]:
combined = combined.loc[combined._merge != "right_only", ]

Finally, we'll create a dummy marking the cases that were in the resistance data has having had some sort of resistance.

In [16]:
combined["any_resistance"] = 0
combined.loc[combined._merge == "both", "any_resistance"] = 1
combined.drop("_merge", axis=1, inplace=True)
combined.any_resistance.value_counts()

0    1036769
1      13413
Name: any_resistance, dtype: int64

## Prepare the outcome variables

We use two target variables - one measuring whether there was any resistance and one measuring whether there was any resistance where anyone (officer or subject) complained of pain/injury

In [25]:
#checking types
combined.dtypes

#replacing NaN with zero
outcome = ['any_weapon','max_r2r','any_shot','any_sub_complaint','any_off_complaint']
combined[outcome] = combined[outcome].fillna(0)

<b>NOTE: I don't think the code below for Target 2 does what we discussed? I think it will always equal 1 if any_resistance is 1 since it takes the max. Can someone explain it to me on Tuesday?</b>

In [26]:
#create target variables
combined['Target1'] = combined['any_resistance']

target2 = []
for index, row in combined.iterrows():
    target2.append(max(row['any_resistance'],max(row['any_sub_complaint'],row['any_off_complaint'])))
combined['Target2'] = pd.DataFrame(target2)

In [27]:
combined.Target2.value_counts()

0.0    1036769
1.0      13413
Name: Target2, dtype: int64

## Prepare features based on when an incident occurs

### Merge in US Holiday data

In [ ]:
#read in the US holidays from csv; data set is from 1966-2020
us_holidays = pd.read_csv('Input Data/usholidays.csv')

#creating a new column for each holiday that will show True or False for each day if it falls on that holiday
us_holidays['new_year'] = us_holidays['Holiday'] == "New Year's Day"
us_holidays['mlk_day'] = us_holidays['Holiday'] == "Birthday of Martin Luther King, Jr."
us_holidays['wash_bday'] = us_holidays['Holiday'] == "Washington's Birthday"
us_holidays['mem_day'] = us_holidays['Holiday'] == "Memorial Day"
us_holidays['ind_day'] = us_holidays['Holiday'] == "Independence Day"
us_holidays['labor_day'] = us_holidays['Holiday'] == "Labor Day"
us_holidays['col_day'] = us_holidays['Holiday'] == "Columbus Day"
us_holidays['vet_day'] = us_holidays['Holiday'] == "Veterans Day"
us_holidays['thanksgiving'] = us_holidays['Holiday'] == "Thanksgiving Day"
us_holidays['christmas'] = us_holidays['Holiday'] == "Christmas Day"

#re-format date from 'us_holidays' to match the 'combined' DataFrame's date format
us_holidays['Date']= us_holidays['Date'].str.replace('-', '/', regex=False)

#join the 'combined' and 'us_holidays' data frames on the date (date_x in 'combined', 'Date' in 'us_holidays')
#rename new dataframe as 'combined2'
combined2 = combined.join(us_holidays.set_index('Date'), on='date_x')

#drop the unnecessary columns from the combined2 DataFrame (imported during join)
combined2.drop(['Unnamed: 0', 'Holiday'], axis = 1)

#to 'fill' the combined 2 DataFrame, use slicing to select the columns from 'us_holidays' that need to be filled
#fill combined2 DataFrame with 'False'
#Essentially, we're saying that any day that doesn't match a US holiday should say 'False' in that columm
j = list(us_holidays.columns)[3:]
combined2[j] = combined2[j].fillna(value= False)

### Prepare features based on date and time of the incident

In [24]:
#changing to date format
combined['date_time'] = combined['date_time'].astype('datetime64[ns]')
#combined['report_date_time'] = combined['report_date_time'].astype('datetime64[ns]') # Arushi - I commented this out because it was taking forever to run on my computer
#combined.dtypes

#this should be used for time of day type calculations

inc_number                  object
high_off_desc               object
high_off_code              float64
fam_viol                    object
date_time           datetime64[ns]
date_x                      object
time                       float64
report_date_time            object
report_date                 object
report_time                float64
loc_t ype                   object
address                     object
zip_code                   float64
council_district           float64
apd_sector                  object
apd_district                object
pra                         object
clr_status                  object
clr_date                    object
ucr                         object
cat_desc                    object
x_coord                    float64
y_coord                    float64
latitude                   float64
longtitude                 float64
location                    object
year                        object
prim_key_short              object
prim_key                    object
date_y                      object
                         ...
P0030007                   float64
P0030008                   float64
P0130001                   float64
P0130002                   float64
P0130003                   float64
P0180001                   float64
P0200002                   float64
P0250002                   float64
P0190007                   float64
has_census_data             object
P0030002_pct               float64
P0030003_pct               float64
P0030004_pct               float64
P0030005_pct               float64
P0030006_pct               float64
P0030007_pct               float64
P0030008_pct               float64
P0130001_pct               float64
P0130002_pct               float64
P0130003_pct               float64
P0200002_pct               float64
P0250002_pct               float64
P0190007_pct               float64
B01001_001E                float64
B19113_001E                float64
B17001_001E                float64
C18120_002E                float64
C18120_003E                float64
B17001_001E_pct            float64
C18120_003E_pct            float64
Length: 73, dtype: object

## Merge in census data

Census tract code for the two counties we care about should be six digits of the format 0ABCDE in order to merge with data from the Census API. We appear to have been something like the form BC.D, with leading/trailing zeroes dropped. Below, we clean the census tract data we were given to match the 0ABCDE format.

In [17]:
# Split 
ct_split = combined["cen_tract"].str.split(".", expand=True)
combined["ct1"] = ct_split[0]
combined["ct2"] = ct_split[1]

# Calculate the length of each split piece - if the first is <4 digits, we add leading zeros, and if the second is <2 digits, we add trailing zeroes
combined["ct1_len"] = combined.ct1.str.len()
combined["ct2_len"] = combined.ct2.str.len()
combined.loc[combined.ct2_len==1, "ct2"] = combined.loc[combined.ct2_len==1, "ct2"] + "0"
combined.loc[combined.ct2_len.isnull() & (combined.ct1_len <=4), "ct2"] = "00"
combined.loc[combined.ct1_len==1, "ct1"] = "000" + combined.loc[combined.ct1_len==1, "ct1"] 
combined.loc[combined.ct1_len==2, "ct1"] = "00" + combined.loc[combined.ct1_len==2, "ct1"] 
combined.loc[combined.ct1_len==3, "ct1"] = "0" + combined.loc[combined.ct1_len==3, "ct1"] 

combined["ct1_len"] = combined.ct1.str.len()
combined["ct2_len"] = combined.ct2.str.len()

# Examine cases where either piece is > 2 digits - should not be possible
combined.loc[combined.ct1_len >4, "cen_tract"].value_counts()
# These look like they're missing a decimal point. I'm just going to assume the last two characters go after the decimal point.
# (It's only 11 cases anyway.)
combined.loc[combined.ct1_len >4, "ct1"] = combined.loc[combined.ct1_len >4, "cen_tract"][:-2]
combined.loc[combined.ct1_len >4, "ct2"] = combined.loc[combined.ct1_len >4, "cen_tract"][-2:]

# Concatenate the two parts
combined["tract"] = combined.ct1 + combined.ct2

combined.drop(["cen_tract","ct1", "ct1_len", "ct2", "ct2_len"], axis=1, inplace=True)

Next, we'll pull some relevant indicators from the 2010 Census API. See full documentation of Table SF1 codes here: https://www.census.gov/prod/cen2010/doc/sf1.pdf.
The indicators we are pulling are:
- P0030001 - total population (which we will need for the denominator)
- P0030002 - white population
- P0030003 - black population
- P0030004 - American Indian/native Alaskan population
- P0030005 - Asian population 
- P0030006 - Hawaiian / Pacific Islander population
- P0030007 - other race population
- P0030008 - 2+ races population
- P0040003 - Hispanic or Latino population (NOTE: not a race)
- P0130001 - median age
- P0130002 - median age for males
- P0130003 - median age for females
- P0180001 - total households (which we will need for the denominator)
- P0200002 - households with any children under 18
- P0250002 - households with any member over 65
- P0190007 - households with husband-wife

There are about 5723 cases that were missing census tract data in the original file. These (of course) did not merge with the census data from the API.

In [18]:
params = {"key": "7530e2501288a8dfb28803342f5d1493cf00cb96",
          "state": "48",   # Texas
          "county": "453,491",  # Travis County, Williamson County
          "indicators": "P0030001,P0030002,P0030003,P0030004,P0030005,P0030006,P0030007,P0030008,P0130001,P0130002,P0130003,P0180001,P0200002,P0250002,P0190007"
         }
url = "https://api.census.gov/data/2010/sf1?get="+params["indicators"]+"&for=tract:*&in=state:"+params["state"]+"&in=county:"+params["county"]+"&key="+params["key"]
response = requests.get(url, data = {'key':'value'})

In [19]:
census_data = pd.DataFrame(response.json()[1:])
census_data.columns = response.json()[0]
census_data.drop(["state", "county"], axis=1, inplace=True)
combined = pd.merge(combined, census_data, how="outer", on="tract", indicator=True)
combined._merge.value_counts()
combined = combined.loc[combined._merge != "right_only", ]
combined["has_census_data"] = combined._merge == "both"
combined.drop("_merge", axis=1, inplace=True)

Finally, we will calculate each indicator as percent of total population / percent of households.

In [20]:
for col in ["P0030001","P0030002","P0030003","P0030004","P0030005","P0030006","P0030007","P0030008","P0130001","P0130002","P0130003", "P0180001","P0200002","P0250002","P0190007"]:
    combined[col] = combined[col].astype(float)
    
for col in ["P0030002","P0030003","P0030004","P0030005","P0030006","P0030007","P0030008","P0130001","P0130002","P0130003"]:
    combined[col+"_pct"] = combined[col]/combined["P0030001"]

for col in ["P0200002","P0250002","P0190007"]:
    combined[col+"_pct"] = combined[col]/combined["P0180001"]

Next, we will also pull some data from the American Community Survey (ACS) 5-year estimates. We need to use the 5-year estimates in order to have data down to the tract level. The full list of available variables is here: https://api.census.gov/data/2016/acs/acs5/variables.html. The indicators we're using are:
- B19113_001E - median family income in the past 12 months
- B01001_001E - total population (which we will need for the denominator)
- B17001_001E - poverty status in the past 12 months 
- C18120_002e - total labor force (which we will need for the denominator)
- C18120_003E - total employed in the labor force

In [21]:
params = {"key": "7530e2501288a8dfb28803342f5d1493cf00cb96",
          "state": "48",   # Texas
          "county": "453,491",  # Travis County, Williamson County
          "indicators": "B01001_001E,B19113_001E,B17001_001E,C18120_002E,C18120_003E"
         }
url = "https://api.census.gov/data/2016/acs/acs5?get="+params["indicators"]+"&for=tract:*&in=state:"+params["state"]+"&in=county:"+params["county"]+"&key="+params["key"]
response = requests.get(url, data = {'key':'value'})

In [22]:
acs_data = pd.DataFrame(response.json()[1:])
acs_data.columns = response.json()[0]
acs_data.drop(["state", "county"], axis=1, inplace=True)
for col in ['B01001_001E','B19113_001E','B17001_001E','C18120_002E','C18120_003E']:
    acs_data[col] = acs_data[col].astype(float)
#Missing values are recorded as -666666666; must clean these.
acs_data.B19113_001E.replace(-666666666, None, inplace=True)
combined = pd.merge(combined, acs_data, how="outer", on="tract", indicator=True)
combined._merge.value_counts()
combined = combined.loc[combined._merge != "right_only", ]
combined.drop("_merge", axis=1, inplace=True)

Finally, we will calculate each indicator as percent of the relevant population

In [23]:
combined["B17001_001E_pct"] = combined.B17001_001E/combined.B01001_001E
combined["C18120_003E_pct"] = combined.C18120_003E/combined.C18120_002E